.languages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  font: 300 1em 'Fira Sans', sans-serif;
  margin: 10px auto;
}

.languages::-webkit-scrollbar {
  border-radius: 100px;
  background: #ffa530;
  border: 6px solid #ffa530;
}

.languages::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #9b641c;
  border: 6px solid #d68a25;
}

.language__item {
  background: none;
  border: 2px solid #ffa530;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
  color: #d68a25;
  transition: 0.25s;
  cursor: pointer;
}

.selected,
.language__item:hover,
.language__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.language__item-name {
  font-weight: 400;
  white-space: nowrap;
}
